header {
  position: fixed;
  height: 240px;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.contents {
  padding-top: 240px;
}

.dimmed.dimmable > .ui.animating.dimmer,
.dimmed.dimmable > .ui.visible.dimmer,
.ui.active.dimmer {
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui.modal,
.ui.active.modal {
  margin: 0 auto !important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease 0.5s;
}
.ui.items > .item > .image {
  height: 100px !important;
  width: 150px !important;
}
.ui.items > .item > .image > img {
  height: 100px !important;
  width: 150px !important;
}
